@use "../../../shared/assets/styles/colors";

.index {
  position: relative;
  z-index: 0;
}

.mdc-tab__text-label {
  color: colors.$color-white-main !important ;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: colors.$color-white-main !important;
}

.dashboard-table-border {
  border: 2px solid colors.$color-black-30-percent;
}
