$main-color-yellow: #f1ca55;
$charcoal-grey: #465362;
$oxford-blue: #011936;
$cambridge-blue: #96c0b7;

$color-white-main: #fbf9ff; // white

$color-black-80-percent: #16131a; 
$color-black-70-percent: #1b191e;
$color-black-50-percent: #212026; // darker-gray
$color-black-40-percent: #2e2e36;
$color-black-30-percent: #373741;

$color-gray-80-percent: #9da3af; // lighter gray


$color-blue : #6dbcd0;
$color-yellow: #ffd660;
$color-red: #ff7380;