<mat-dialog-content
  class="app-main-background-color-darker-gray add-transaction-dialog-border"
>
  <div class="m-5">
    <div class="flex justify-between pb-5 mt-5">
      <div
        class="flex justify-start p-3 text-yellow-500 bg-yellow-100 rounded-lg"
      >
        <img
          src="../../../../shared/assets/images/bitcoin.png"
          width="30"
          height="30"
        />
      </div>

      <div class="cursor-pointer" (click)="closeDialog()">
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.7078 1.99496L13.2978 0.584961L7.70776 6.17496L2.11776 0.584961L0.707764 1.99496L6.29776 7.58496L0.707764 13.175L2.11776 14.585L7.70776 8.99496L13.2978 14.585L14.7078 13.175L9.11776 7.58496L14.7078 1.99496Z"
            fill="#666666"
          />
        </svg>
      </div>
    </div>

    <h2 class="text-white">Add Transaction</h2>
    <form
      [formGroup]="createForm"
      (ngSubmit)="onSubmit()"
      class="grid grid-cols-1 place-items-center space-y-8"
    >
      <div class="w-72 md:w-80 lg:w-96">
        <mat-button-toggle-group
          appearance="legacy"
          aria-label="type"
          formControlName="type"
        >
          <mat-button-toggle value="1" class="mr-2">Sold</mat-button-toggle>
          <mat-button-toggle value="0">Bought</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="w-72 md:w-80 lg:w-96">
        <label
          for="assetId"
          class="block mb-2 text-sm font-medium text-gray-500"
          >Select an Investment</label
        >
        <div *ngIf="!this.assets$; else input"></div>

        <select
          id="assetId"
          required
          formControlName="assetId"
          class="app-main-color-white app-main-background-color-40-black peer h-10 w-full rounded-md bg-gray-50 px-4 font-thin outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:ring-2 focus:ring-blue-400"
        >
          <option value="" selected="selected">
            Select from ({{ this.filteredAssets.length }})
          </option>
          <option
            *ngFor="let asset of this.filteredAssets"
            [id]="asset.assetId"
            [value]="asset.assetId"
          >
            {{ asset.name }} ({{ asset.assetId }})
          </option>
        </select>
      </div>

      <div class="w-72 md:w-80 lg:w-96">
        <label
          for="quantity"
          class="block w-full pb-1 text-sm font-medium text-gray-500 transition-all duration-200 ease-in-out group-focus-within:text-blue-400"
          >Quantity</label
        >
        <input
          id="quantity"
          type="number"
          formControlName="quantity"
          class="app-main-color-white app-main-background-color-40-black peer h-10 w-full rounded-md bg-gray-50 px-4 font-thin outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:ring-2 focus:ring-blue-400"
        />
      </div>

      <div class="w-72 md:w-80 lg:w-96">
        <label
          for="totalPrice"
          class="block w-full pb-1 text-sm font-medium text-gray-500 transition-all duration-200 ease-in-out group-focus-within:text-blue-400"
          >Total Price</label
        >
        <input
          id="totalPrice"
          type="number"
          formControlName="totalPrice"
          class="app-main-color-white app-main-background-color-40-black peer h-10 w-full rounded-md bg-gray-50 px-4 font-thin outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:ring-2 focus:ring-blue-400"
        />
      </div>

      <div class="w-72 md:w-80 lg:w-96">
        <label
          for="pricePerUnit"
          class="block w-full pb-1 text-sm font-medium text-gray-500 transition-all duration-200 ease-in-out group-focus-within:text-blue-400"
          >Price Per Unit</label
        >
        <input
          id="pricePerUnit"
          type="number"
          formControlName="pricePerUnit"
          class="app-main-color-white app-main-background-color-40-black peer h-10 w-full rounded-md bg-gray-50 px-4 font-thin outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:ring-2 focus:ring-blue-400"
        />
      </div>

      <div class="relative cursor-pointer pb-3">
        <button
          class="app-blue-btn center mr-4 rounded-lg py-3 px-6 font-bold"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>

<ng-template #input>
  <input
    class="mb-2 app-main-color-white app-main-background-color-40-black peer h-6 w-36 w-full rounded-md bg-gray-50 px-4 font-thin outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:ring-2 focus:ring-blue-400"
    type="text"
    placeholder="Filter by Name"
    ngNoform
    [(ngModel)]="searchTerm"
    (input)="filterAssets()"
  />
</ng-template>
