<div>
  <div class="flex">
    <h2 class="app-main-color-white text-lg pb-1">Latest Investments</h2>
    <div
      class="relative w-full px-2 py-2 max-w-full flex-grow flex-1 text-right"
    >
      <button
        type="button"
        class="app-blue-btn text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      >
        See all
      </button>
    </div>
  </div>
  <div class="dashboard-last-investments-bottom-line h-px"></div>

  <div class="block w-full overflow-x-auto">
    <table class="items-center w-full bg-transparent border-collapse">
      <thead class="thead-light ">
        <tr class="app-main-color-white dashboard-last-investments-bottom-line">
          <th
            class="px-6 align-middle py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap text-left"
          >
            Asset
          </th>
          <th
            matTooltip="Total Initial Investment"
            class="px-6 align-middle  py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap text-left"
          >
            Date On Add
          </th>
          <th
            matTooltip="Total Current Investment"
            class="px-6 align-middle py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap text-left min-w-140-px"
          >
            Amount
          </th>
          <th
            matTooltip="Total Current Investment"
            class="px-6 align-middle py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap text-left min-w-140-px"
          >
            Quantity
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container>
          <tr class="app-main-color-white">
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left"
            >
              (BTC) Bitcoin ...
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              2022 02 15
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
            201K $</td>
          
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              210
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
