<!-- TODO: Split everything into features/slices -->
<div class="right-divider">
  <div class="flex flex-col w-60 lg:h-screen 2xl:max-h-full app-main-background-color">
    <div class="flex items-center justify-center h-14 text-white">
      <div>TR INV</div>
    </div>
    <div class="overflow-y-auto overflow-x-hidden flex-grow">
      <ul class="flex flex-col py-4 space-y-1">
        <li>
          <a
            href="#"
            class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent right pr-6"
          >
            <span class="inline-flex justify-center ml-4">
              <mat-icon class="w-5 h-5">folder_open</mat-icon>
            </span>
            <span class="ml-2 text-center">Accounts</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
          >
            <span class="inline-flex justify-center ml-4">
              <mat-icon class="w-5 h-5">library_books</mat-icon>
            </span>
            <span class="ml-2 text-center">Assets</span>
          </a>
        </li>
        <li></li>
        <li class="px-5">
          <div class="flex flex-row items-center h-8">
            <div class="text-sm font-light tracking-wide app-main-color-lighter-gray">
              Menu
            </div>
          </div>
        </li>
        <li>
          <a
            routerLink="/dashboard"
            class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
          >
            <span class="inline-flex justify-center items-center ml-4">
              <mat-icon class="w-5 h-5">home</mat-icon>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Dashboards</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/global-settings"
            class="app-main-color-btn relative flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
          >
            <span class="inline-flex justify-center items-center ml-4">
              <mat-icon class="w-5 h-5">settings</mat-icon>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate"
              >Global Settings</span
            >
            <!--            Added to the application if there is new global settings-->
            <span
              matTooltip="New Setting"
              matTooltipPosition="above"
              class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-indigo-500 bg-indigo-50 rounded-full"
              >New</span
            >
          </a>
        </li>
        <li>
          <a
            routerLink="/user-information"
            class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
          >
            <span class="inline-flex justify-center items-center ml-4">
              <mat-icon class="w-5 h-5">chat</mat-icon>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate"
              >User Information</span
            >
          </a>
        </li>
        <li>
          <a
            routerLink="/watchlist"
            class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
          >
            <span class="inline-flex justify-center items-center ml-4">
              <mat-icon class="w-5 h-5">preview</mat-icon>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Watchlist</span>
            <span
              matTooltip="Something happend here check it.."
              matTooltipPosition="above"
              class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full"
              >1.2k</span
            >
          </a>
        </li>
        <li>
          <a
            routerLink="/notification-settings"
            class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
          >
            <span class="inline-flex justify-center items-center ml-4">
              <mat-icon class="w-5 h-5">notifications</mat-icon>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate"
              >Notifications</span
            >
            <span
              class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full"
              >1.2k</span
            >
          </a>
        </li>
        <li class="px-5">
          <div class="flex flex-row items-center h-8">
            <div class="text-sm font-light tracking-wide app-main-color-lighter-gray">
              Admin Panel Settings
            </div>
          </div>
        </li>
        <li>
          <a
            routerLink="/news-panel"
            class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
          >
            <span class="inline-flex justify-center items-center ml-4">
              <mat-icon class="w-5 h-5">newspaper</mat-icon>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">News Panel</span>
          </a>
        </li>
        <li class="px-5">
          <div class="flex flex-row items-center h-8">
            <div class="text-sm font-light tracking-wide app-main-color-lighter-gray">
              Tasks / Background Jobs
            </div>
          </div>
        </li>
        <li>
          <a
            href="#"
            class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
          >
            <span class="inline-flex justify-center items-center ml-4">
              <mat-icon class="w-5 h-5">list_alt</mat-icon>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Tasks</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/api-sources"
            class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
          >
            <span class="inline-flex justify-center items-center ml-4">
              <mat-icon class="w-5 h-5">api</mat-icon>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">APIs</span>
            <span
              matTooltip="apis are turned on"
              matTooltipPosition="above"
              class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-green-500 bg-green-50 rounded-full"
              >15</span
            >
          </a>
        </li>
      </ul>
    </div>
    <ul class="flex flex-col py-4 space-y-1 mt-8">
      <li>
        <a
          href="#"
          class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent hover:border-red-500 pr-6"
        >
          <span class="inline-flex justify-center items-center ml-4">
            <mat-icon class="w-5 h-5">person</mat-icon>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate text-red-500"
            >Deactivate User</span
          >
        </a>
      </li>
      <li>
        <a
          href="#"
          class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
        >
          <span class="inline-flex justify-center items-center ml-4">
            <mat-icon class="w-5 h-5">manage_accounts</mat-icon>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Settings</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="app-main-color-btn flex flex-row items-center h-11 border-l-4 border-transparent highlight-button-left-side pr-6"
        >
          <span class="inline-flex justify-center items-center ml-4">
            <mat-icon class="w-5 h-5">logout</mat-icon>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
