@use "../../shared/assets/styles/colors";

.background-color{
  background-color: colors.$black1;
}

.right-line:hover{
  border-color:  colors.$main-color-yellow;
}

.left-border{
border-right: 3px solid colors.$gray2;
}

.color-gray{
  color: colors.$gray3
}
