<div>
  <div class="flex">
    <h2 class="app-main-color-white text-lg pb-1">
      Best Performers In Your Portfolio
    </h2>
    <div
      class="relative w-full px-2 py-2 max-w-full flex-grow flex-1 text-right"
    >
      <button
        type="button"
        class="app-blue-btn text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none ease-linear transition-all duration-150"
      >
        See all
      </button>
    </div>
  </div>
  <div class="dashboard-investment-list-performance-line h-px"></div>

  <div class="block w-full overflow-x-auto">
    <table class="items-center w-full bg-transparent border-collapse">
      <thead class="thead-light">
        <tr
          class="app-main-color-white dashboard-investment-list-performance-bottom-line"
        >
          <th
            class="px-6 align-middle py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap text-left"
          >
            Asset
          </th>
          <th
            matTooltip="Total Initial Investment"
            class="px-6 align-middle py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap text-left"
          >
            TII
          </th>
          <th
            matTooltip="Total Current Investment"
            class="px-6 align-middle py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap text-left min-w-140-px"
          >
            TCI
          </th>
          <th
            class="px-6 align-middle py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap text-left min-w-140-px"
          >
            Rate
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container>
          <tr class="app-main-color-white">
            <th
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
            >
              Bitcoin(btc)
            </th>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap"
            >
              202K
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap"
            >
              2012
            </td>
            <td
              class="flex px-6 align-middle text-xs whitespace-nowrap p-2"
            >
            <div class="text-sm text-green-500 leading-none">
              <p class="p-2 bg-green-100 rounded-lg">+ 42%</p>
            </div>
            </td>
          </tr>
          <tr class="app-main-color-white">
            <th
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
            >
              Bitcoin(btc)
            </th>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap"
            >
              202K
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap"
            >
              2012
            </td>
            <td
              class="flex px-6 align-middle text-xs whitespace-nowrap p-2"
            >
            <div class="text-sm text-red-500 leading-none">
              <p class="p-2 bg-red-100 rounded-lg">+ 42%</p>
            </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
