<div class="flex-1 p4">
  <div class="grid sm:grid-cols-1 md:grid-cols-3 2xl:grid-cols-3 gap-4 mt-2 p-2">
    <div class="p-4">
      <div
        class="app-main-color-btn dashboard-info-panel-board app-main-background-color px-5 pt-5 bg-white rounded-t-lg shadow border-b-green-400 border-b-4"
      >
        <img
          src="../../../../../shared/assets/images/total-investment-amount.png"
          alt="dollar icon"
          class="inline w-12 h-12 rounded-lg bg-green-100"
        />
        <p class="app-main-color-white inline pl-3 mb-1 text-xs 2xl:text-lg font-medium tracking-tight">
          Total Invested Amount
        </p>
        <p class="app-main-color-white text-center text-lg">201.2K</p>
      </div>
    </div>
    <div class="p-4">
      <div
        class="app-main-color-btn dashboard-info-panel-board app-main-background-color px-5 pt-5 bg-white rounded-t-lg shadow border-b-purple-400 border-b-4"
      >
        <img
          src="../../../../../shared/assets/images/counter.png"
          alt="chart up"
          class="inline w-12 h-12 rounded-lg object-cover bg-purple-100"
        />
        <p
          class="app-main-color-white inline pl-3 mb-1 text-xs 2xl:text-lg font-medium tracking-tight"
        >
          Number of Investments
    </p>
        <p class="app-main-color-white text-center text-lg font-normal">202</p>
      </div>
    </div>
    <div class="p-4">
      <div
        class="app-main-color-btn dashboard-info-panel-board app-main-background-color px-5 pt-5 bg-white rounded-t-lg shadow border-b-blue-400 border-b-4"
      >
        <img
          src="../../../../../shared/assets/images/ror-icon.png"
          alt="rate of return icon"
          class="inline w-12 h-12 rounded-lg object-cover bg-blue-100"
        />
        <p
          class="app-main-color-white inline pl-3 mb-1 text-xs 2xl:text-lg font-medium tracking-tight"
        >
          Rate of Return
    </p>
        <p class="app-main-color-white text-center text-lg font-normal">
          202.20%
        </p>
      </div>
    </div>
  </div>
</div>
